/* Variables */
/* Reset de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: work sans, sans-serif;
}

/* Components */
/* Banner Nosotros */
.superior-nosotros {
  height: 183px;
  width: 100%;
  background-image: url(../img/nosotros/nosotros-bg.jpg);
}

.nosotros {
  color: #383838;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.592);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros__title h2 {
  font-size: 44px;
  font-family: work sans, sans-serif;
  color: #383838;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1.44;
}

.nosotros__text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.75;
  color: #383838;
  padding: 10px 50px;
  margin-left: 50px;
  border-left: solid 3px #437f86;
}

/* Banner Propiedades */
.superior-propiedades {
  height: 183px;
  width: 100%;
  background-image: url(../img/nosotros/nosotros-bg.jpg);
}

.propiedades-section {
  color: #383838;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.592);
  display: flex;
  justify-content: center;
  align-items: center;
}

.propiedades__titulo h2 {
  font-size: 44px;
  font-family: work sans, sans-serif;
  color: #383838;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1.44;
}

.propiedades__text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.75;
  color: #383838;
  padding: 10px 50px;
  margin-left: 50px;
  border-left: solid 3px #437f86;
}

/* Banner Dejanos tu pedido */
.pedidos-container {
  height: 183.33px;
  width: 100%;
  background-image: url(../img/contacto/contacto-bg.jpg);
}

.pedidos {
  color: #383838;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.592);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedidos__title h2 {
  font-size: 44px;
  font-family: work sans, sans-serif;
  color: #383838;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1.44;
}

.pedidos__text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.75;
  color: #383838;
  padding: 10px 50px;
  margin-left: 50px;
  border-left: solid 3px #437f86;
}

/* Banner Contacto */
.contacto-container {
  height: 183.33px;
  width: 100%;
  background-image: url(../img/contacto/contacto-bg.jpg);
}

.contacto {
  color: #383838;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.592);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto__title h2 {
  font-size: 44px;
  font-family: work sans, sans-serif;
  color: #383838;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1.44;
}

.contacto__text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.75;
  color: #383838;
  padding: 10px 50px;
  margin-left: 50px;
  border-left: solid 3px #437f86;
}

/* Modulo cards Home */
.propiedades {
  height: 934px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.propiedades__title {
  width: 1170px;
  height: 93px;
  margin: 0 auto 10px;
  padding: 24px 15px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 26px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  color: #383838;
}

.cards {
  margin: 0 15px;
  height: 790px;
  width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  height: 390px;
  width: 280px;
  background-color: #e2e2e2;
  border: solid 1px #f2f2f2;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
}
.card h2 {
  font-size: 15px;
  font-weight: 500;
  color: #383838;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.card li {
  list-style-type: none;
  margin: 5px;
}
.card p {
  width: 280px;
  font-size: 20px;
  font-weight: 500;
  color: #383838;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  text-align: left;
}
.card button {
  color: #f8f8f8;
  background-color: #437f86;
  border: solid 1px #437f86;
  padding: 5px 14px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.card__image {
  width: 260px;
  height: 100%;
}
.card__image img {
  height: 100%;
  width: 100%;
}
.card__text {
  height: 160px;
  display: flex;
  flex-direction: column;
}
.card__text span {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
}
.card__text ul {
  height: 50px;
  font-size: 12px;
  color: #808080;
  line-height: 16px;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
}
.card__text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-top: 20px;
}
.card__text div p {
  font-size: 20px;
  margin-bottom: 0;
  width: 150px;
  height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.card__text div a {
  width: 100px;
}
.card__text div .card__btn {
  width: 100%;
  margin-top: 0;
}

/* Modulo cards Propiedades */
.inferior-propiedades {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.cards-prop {
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.section-slider {
  height: 930px;
  width: 100%;
}
.section-slider img {
  width: 100%;
  height: 934px;
}

.form-pedidos {
  width: 100%;
  height: 760px;
  padding-top: 24px;
}

.form-container {
  width: 1170px;
  height: 687px;
  margin: 0 auto;
  padding: 40px;
}

.row {
  width: 1090;
  height: 583px;
  font-size: 14px;
  line-height: 1.42;
  cursor: auto;
}

.col-xs-12 {
  padding: 15px 15px;
}
.col-xs-12 p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 10px;
}

.separator-color-x {
  margin-bottom: 6px;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #437f86;
  width: 60px;
}

.form-control {
  display: block;
  width: 100%;
  min-height: 44px;
  padding: 12px 2px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: transparent;
  background-image: none;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.btn-enviar {
  background-color: #437f86;
  color: #f8f8f8;
  padding: 0 55px;
  line-height: 44px;
  border-radius: 50px;
  float: right;
}
.btn-enviar:hover {
  background-color: #212121;
  color: #f8f8f8;
}

/* Layout */
.responsive-navbar {
  display: none;
}

.navbar-container {
  height: 135px;
  width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

img {
  height: 135px;
  width: 230px;
}

.links {
  height: 130px;
  width: 707px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-links {
  width: 707px;
  height: 50px;
  margin: 30px 0px 0px;
  padding: 16px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-links li {
  list-style-type: none;
}
.navbar-links li a {
  height: 30px;
  padding: 10px 12px;
  font-size: 15px;
  font-family: work sans, sans-serif;
  color: #212121;
  font-weight: 600;
  text-decoration: none;
}
.navbar-links li a:hover {
  color: #437f86;
}

.social {
  width: 203px;
  height: 30px;
  margin: 20px 0px 0px;
  padding: 10px 0px 0px;
  gap: 20px;
  font-family: work sans, sans-serif;
  display: flex;
  justify-content: end;
}
.social ul li {
  padding: 0px 5px;
}
.social li a {
  padding: 15px 15px;
  color: #437f86;
  font-size: 12px;
  opacity: 0.4;
}
.social li a:hover {
  opacity: 1;
}

.social__links {
  text-decoration: none;
  list-style-type: none;
}

.search {
  width: 100%;
  height: 93px;
  background-color: color_2;
}

.search-container {
  width: auto;
  height: 92px;
  margin: 0 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: work sans, sans-serif;
  color: #f8f8f8;
}

.search-title {
  font-size: 24px;
  color: #f8f8f8;
}

.search-btn {
  color: #f8f8f8;
  background-color: #383838;
  transition: 0.5s;
  height: 40px;
  width: 160px;
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: solid 1px transparent;
}
.search-btn:hover {
  background-color: #212121;
}

/*----------- NAV SEARCH ------------*/
.search {
  width: 100%;
  height: 93px;
  background-color: #437f86;
}
.search-container {
  width: auto;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: work sans, sans-serif;
  color: #f8f8f8;
}
.search-title {
  font-size: 24px;
  color: #f8f8f8;
}
.search-form {
  color: #f8f8f8;
  border-radius: 50px;
  border: solid 1px #f8f8f8;
  background-color: #437f86;
  cursor: pointer;
  width: 260px;
  height: 40px;
}
.search input::-moz-placeholder {
  color: white;
  font-size: 14px;
  text-align: center;
}
.search input::placeholder {
  color: white;
  font-size: 14px;
  text-align: center;
}
.search-btn {
  color: #f8f8f8;
  background-color: #383838;
  transition: 0.5s;
  height: 40px;
  width: 160px;
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: solid 1px transparent;
}
.search-btn:hover {
  background-color: black;
}

header {
  background-color: #f8f8f8;
  width: 100%;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section presentacion Home */
.presentacion-container {
  width: 100%;
  height: 550px;
  background-image: url("../img/home/image-home.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box__container {
  margin: 0 auto;
  width: 1170px;
  height: 504px;
  padding: 24px 15px;
}

.box__content {
  width: 457.5px;
  height: 432px;
  padding: 70px 40px 20px;
  background-color: #437f86;
}

.box__title {
  width: 341.58px;
  height: 76.22px;
  font-size: 22px;
  font-weight: 600;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  color: #f8f8f8;
}

span {
  width: 341.58px;
  height: 76.22px;
  font-size: 24px;
}

.box__text {
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  margin-bottom: 30px;
  color: #f8f8f8;
}

/* Section inferior Nosotros */
.inferior-nosotros {
  height: 974px;
  width: 100%;
  padding: 24px 0px;
  display: flex;
  justify-content: center;
}

.descripcion {
  width: 1170px;
  height: 926px;
  margin: 0px 15px;
  display: flex;
  justify-content: center;
}

.descripcion__box-container {
  width: 585px;
  height: 926px;
  padding: 0px 15px 24px;
}

.descripcion__box {
  width: 555px;
  height: 902.21px;
  padding: 40px 40px 20px;
  background-color: #437f86;
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.39);
}
.descripcion__box h2 {
  font-size: 22px;
  font-family: work sans, sans-serif;
  color: #f8f8f8;
  margin: 0px 0px 14px;
  padding: 0px 0px 10px;
}
.descripcion__box span {
  font-size: 24px;
}
.descripcion__box div {
  font-family: work sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  color: #f8f8f8;
  margin-bottom: 30px;
  overflow: hidden;
}

.descripcion__img {
  width: 585px;
  height: 680px;
  padding: 0px 15px;
}
.descripcion__img img {
  width: 555px;
  height: 680px;
}

/* Section Pedidos descripcion */
.mid-container {
  width: 100%;
  height: 546px;
  padding: 24px 0px;
  place-content: center;
  margin: 0 auto;
}

.mid {
  width: 1170px;
  height: 500px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.box-mail {
  width: 585;
  height: 485px;
  padding: 0px 15px 24px;
}

.box-info {
  width: 555px;
  height: 432px;
  padding: 70px 40px 20px;
  background-color: #437f86;
}
.box-info h2 {
  width: 252px;
  height: 76px;
  margin: 0px 0px 14px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.44;
  padding-bottom: 10px;
  color: #f8f8f8;
}
.box-info p {
  width: 475px;
  height: 222px;
  margin: 0px 0px 30px;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  color: #f8f8f8;
}
.box-info p a {
  text-decoration: none;
  color: #f8f8f8;
}

.img-container {
  position: relative;
  width: 585px;
  height: 500px;
  padding: 24px 15px 0px;
}
.img-container img {
  position: absolute;
  width: 390px;
  height: 400px;
}

.rectangulo {
  position: absolute;
  left: 250px;
  top: 100px;
  width: 250px;
  height: 250px;
  opacity: 0.8;
  background-color: #437f86;
}

/* Section Contacto formulario y mapa */
.contacto-container-main {
  height: 658px;
  width: 100%;
  padding: 24px 0px;
}

.contacto-box-container {
  height: 605px;
  width: 1170px;
  margin: 0px auto;
  padding: 24px 15px;
  display: flex;
  flex-direction: row;
}

.contacto__box {
  height: 557px;
  width: 585px;
  padding: 0px 15px 24px;
}

.contacto__box-info {
  height: 474px;
  width: 555px;
  padding: 40px;
  background-color: #f8f8f8;
}
.contacto__box-info p {
  width: 475px;
  height: 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 5px;
  margin: 0px 0px 10px;
}

.input-group {
  margin-bottom: 15px;
  font-family: work sans, sans-serif;
  font-size: 14px;
  color: #383838;
  padding: 12px 2px;
  background-image: none;
  border: 0px;
  border-bottom: solid 1px #ccc;
}
.input-group input {
  border: none;
  background-color: transparent;
  width: 100%;
}

textarea {
  border: none;
  background-color: transparent;
  width: 100%;
}

.contacto__box-line {
  margin-bottom: 6px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #437f86;
  width: 60px;
}

.contacto__btn {
  color: #f8f8f8;
  background: #437f86;
  padding: 0px 55px;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 0;
  border: solid 1px transparent;
  cursor: pointer;
  font-size: 14px;
  height: 46px;
}

.contacto__map {
  height: 552px;
  width: 585px;
  padding: 24px 15px;
}

* footer {
  height: 302px;
  background-repeat: repeat-x;
  background-color: #e2e2e2;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #212121;
}

.footer__container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__logo {
  height: 149px;
  width: 292.5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  justify-content: center;
}
.footer__logo ul {
  list-style-type: none;
}

.footer__social {
  margin-top: 10px;
  display: flex;
}
.footer__social li a {
  padding: 15px 15px;
  color: #437f86;
  opacity: 0.4;
}
.footer__social li a:hover {
  opacity: 1;
}

.footer__contacto {
  height: 147px;
  width: 487.5px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__contacto-title {
  height: 28px;
  font-size: 22px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 10px;
}

.footer__contacto-info {
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  margin-bottom: 5px;
}

.footer__tasar {
  height: 162px;
  width: 390px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__tasar-title {
  height: 28px;
  font-size: 22px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 10px;
}

.footer__tasar-info {
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  margin-bottom: 5px;
}
.footer__tasar-info p {
  margin-top: 15px;
}
.footer__tasar-info a {
  color: #437f86;
  font-weight: 600;
  text-decoration: none;
}

.copyright {
  height: 67px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #437f86;
  color: #383838;
  font-size: 12px;
  color: #f8f8f8;
}

.copyright-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.copyright-develop a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 12px;
}
.copyright-develop a:hover {
  color: #212121;
}

/* views */
@media screen and (max-width: 1199px) {
  .navbar-container {
    width: 940px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar-links {
    display: flex;
    justify-content: flex-start;
  }
  .social {
    padding-right: 140px;
  }
  .search-container {
    width: 970px;
    display: flex;
  }
  .search-btn {
    width: 100px;
  }
  .propiedades {
    width: 970px;
    margin: 0 auto;
  }
  .propiedades__title {
    width: 970px;
  }
  .cards {
    width: 970px;
    margin-left: 0;
  }
  .card {
    width: 240px;
    height: 390px;
    display: flex;
  }
  .card__image {
    width: 100%;
    height: 350px;
  }
  .card__text span {
    height: 20px;
  }
  .card__text div {
    height: 40px;
    padding-top: 15px;
  }
  .card__text div p {
    font-size: 20px;
    margin-bottom: 0;
    width: 150px;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
  }
  .card__text div a {
    width: 100px;
  }
  .card__text div .card__btn {
    width: 100%;
    margin-top: 0;
  }
  .presentacion-container {
    height: 551.88px;
    padding: 24px 0;
  }
  .box__container {
    width: 970px;
    margin-left: 50px;
  }
  .superior-nosotros {
    height: 247px;
  }
  /* Sobre nosotros */
  .nosotros {
    font-size: 44px;
  }
  .inferior-nosotros {
    height: 1060px;
    margin-bottom: 40px;
  }
  .descripcion {
    width: 970px;
    height: 1052px;
  }
  .descripcion__box {
    width: 485px;
    height: 1052px;
  }
  .descripcion__img {
    width: 455px;
    height: 560px;
  }
  .descripcion__img img {
    width: 100%;
    height: 100%;
  }
  /* Propiedades */
  .cards-prop {
    width: 970px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
  }
  .cards-prop .card {
    width: 100%;
  }
  .cards-prop .card__image {
    width: 100%;
  }
  .cards-prop .card__text {
    height: 220px;
  }
  /* Pedidos */
  .mid {
    width: 970px;
    height: 520px;
  }
  .form-container {
    width: 970px;
  }
  .img-container {
    width: 455px;
    height: 389px;
  }
  .box-info {
    width: 455px;
    height: 495px;
  }
  .box-info p {
    width: 375px;
    height: 285px;
  }
  /* Contacto */
  .contacto-box-container {
    width: 970px;
    margin: 0 auto;
  }
  .contacto__box {
    width: 485px;
    height: 557px;
  }
  .contacto__box-info {
    width: 100%;
    height: 100%;
  }
  .contacto__map {
    width: 385px;
    height: 550px;
  }
  .contacto__map iframe {
    width: 100%;
    height: 100%;
  }
  .footer__container {
    margin: 0 auto;
    width: 970px;
    height: 225px;
    padding: 0px 15px;
  }
  .footer__logo {
    margin-top: 30px;
  }
  .footer__tasar {
    width: 323px;
    height: 216px;
    padding: 0 -15px;
  }
  .footer__contacto {
    width: 323px;
    height: 225px;
    padding: 0 15px;
  }
  .footer__tasar-info {
    padding-top: 20px;
  }
  .copyright-container {
    width: 970px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 998px) {
  header {
    height: 250px;
    margin: 0 auto;
  }
  .navbar-container {
    width: 720px;
    height: 100%;
  }
  .navbar-container img {
    margin-left: 30px;
  }
  .social {
    padding-top: 40px;
    margin-right: 200px;
  }
  .navbar-links {
    height: 55px;
    padding-top: 100px;
    margin-right: 200px;
  }
  .search-container {
    width: auto;
  }
  .propiedades {
    width: auto;
    height: 1990px;
    margin: 0 auto;
  }
  .propiedades__title {
    width: auto;
  }
  .cards {
    height: 1900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    align-items: center;
    justify-items: center;
  }
  .card {
    width: 375px;
    height: 453px;
    display: flex;
  }
  .card__image {
    width: 100%;
    height: 350px;
  }
  .card__text div {
    display: flex;
    justify-content: space-between;
  }
  .card__text div p {
    font-size: 20px;
    width: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
  }
  .card__text div a {
    width: 150px;
    padding-left: 20px;
  }
  .card__text div .card__btn {
    width: 100%;
  }
  .box-container {
    width: 750px;
    height: 409px;
    margin: 0 auto;
    padding: 24px 15px;
    overflow: hidden;
  }
  .box__content {
    width: 720px;
    height: 337px;
    margin-top: 30px;
    margin-left: 70px;
    padding: 70px 40px 20px;
  }
  /* Sobre nosotros */
  .superior-nosotros {
    height: 275px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .search-title {
    display: none;
  }
  .nosotros {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .nosotros__title {
    width: 100%;
    height: 113px;
    padding: 20px 15px;
  }
  .nosotros__title h2 {
    font-size: 40px;
  }
  .nosotros__text {
    width: 100%;
    height: 79px;
  }
  .nosotros__text p {
    width: 100%;
    height: 55px;
    margin: 0 0 10px 30px;
  }
  .inferior-nosotros {
    height: 850px;
  }
  .descripcion {
    width: 100%;
    height: 800px;
  }
  .descripcion__img {
    display: none;
  }
  .descripcion__box-container {
    width: 100%;
    height: 800px;
  }
  .descripcion__box {
    width: 750px;
    height: 800px;
    margin: 0 auto;
  }
  .cards-prop {
    width: 998px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  /* Pedidos */
  .pedidos-container {
    height: 275px;
  }
  .pedidos {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .pedidos__title {
    width: 100%;
    height: 113px;
    padding: 20px 15px;
  }
  .pedidos__title h2 {
    font-size: 40px;
  }
  .pedidos__text {
    width: 100%;
    height: 79px;
  }
  .pedidos__text p {
    width: 100%;
    height: 55px;
    margin: 0 0 10px 30px;
  }
  .mid-container {
    height: auto;
  }
  .img-container {
    display: none;
  }
  /* Propiedades */
  .superior-propiedades {
    height: 275px;
  }
  .propiedades-section {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .propiedades__titulo {
    width: 100%;
    height: 113px;
    padding: 20px 15px;
  }
  .propiedades__titulo h2 {
    font-size: 40px;
  }
  .propiedades__text {
    width: 100%;
    height: 79px;
  }
  .propiedades__text p {
    width: 100%;
    height: 55px;
    margin: 0 0 10px 30px;
  }
  .cards-prop {
    width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .mid {
    width: 750px;
    height: 424px;
  }
  .box-info {
    width: 720px;
    height: 400px;
  }
  .box-info p {
    width: 640px;
    height: 190px;
  }
  .form-container {
    width: 750px;
    height: 805px;
  }
  /* Contacto */
  .contacto-container {
    height: 275px;
  }
  .contacto {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .contacto__title {
    width: 100%;
    height: 113px;
    padding: 20px 15px;
  }
  .contacto__title h2 {
    font-size: 40px;
  }
  .contacto__text {
    width: 100%;
    height: 79px;
  }
  .contacto__text p {
    width: 100%;
    height: 55px;
    margin: 0 0 10px 30px;
  }
  .contacto-box-container {
    width: 750px;
  }
  .contacto__box {
    width: 375px;
    height: 557px;
  }
  .contacto__map {
    width: 375px;
    height: 552px;
  }
  footer {
    height: auto;
    padding-top: 70px;
  }
  .footer__tasar {
    margin-left: 10px;
  }
  .footer__container {
    padding-bottom: 70px;
    width: 750px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    width: 100%;
    height: 200px;
    padding-bottom: 25px;
  }
  .footer__contacto {
    padding-top: 10px;
  }
  .copyright-container {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 60px;
  }
  .responsive-navbar {
    display: block;
  }
  .btn-success {
    --bs-btn-bg: $color_2;
  }
  .btn {
    font-size: 0.75rem;
    color: #437f86;
    background: #fff;
    border-color: #f8f8f8;
  }
  .btn:hover {
    background: #437f86;
    color: #f8f8f8;
  }
  .navegacion {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 30%;
  }
  .navegacion a {
    padding: 15px;
    color: #437f86;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navegacion a:hover {
    background-color: #437f86;
    color: #f8f8f8;
  }
  .contenedor_logo {
    display: flex;
    justify-content: center;
  }
  .contenedor_logo img {
    border-radius: 50%;
    width: 250px;
    height: 150px;
  }
  .acomodar {
    position: relative;
    top: 10px;
    left: 10px;
  }
  .navbar-container {
    width: 100%;
    padding: 0;
  }
  .navbar-container a {
    width: 84px;
  }
  .navbar-container a img {
    width: 84px;
    height: 50px;
    margin: 0 auto;
  }
  .links {
    display: none;
  }
  .search {
    display: none;
  }
  .section-slider {
    height: 400px;
    width: 100%;
  }
  .section-slider img {
    width: 100%;
    height: 400px;
  }
  /* Home */
  .propiedades {
    width: auto;
    height: auto;
    padding: 20px 0px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .cards {
    width: auto;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .cards .card__image {
    width: 100%;
    height: 260px;
  }
  .cards .card__text div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 50px;
  }
  .cards .card__price {
    padding: 5px;
    width: 250px;
    font-weight: bold;
    font-size: 20px;
  }
  .cards .card__text a {
    width: 150px;
  }
  .cards .card__btn {
    width: 100%;
    margin-top: 10px;
  }
  .box__container {
    width: 100%;
    height: auto;
    padding: 15px 15px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .box__content {
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px 10px;
  }
  .box__title {
    width: 100%;
    height: auto;
    font-size: 32px;
    line-height: 1.44;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .box__text {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.56;
    font-stretch: normal;
  }
  /* Sobre nosotros */
  .superior-nosotros {
    width: 100%;
    height: 300px;
  }
  .nosotros {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .nosotros__title {
    width: 100%;
    height: 80px;
    padding: 20px 15px;
  }
  .nosotros__title h2 {
    font-size: 32px;
  }
  .nosotros__text {
    width: 100%;
    height: 70px;
  }
  .nosotros__text p {
    width: 100%;
    height: 70px;
    margin: 0 0 10px 30px;
  }
  .inferior-nosotros {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .descripcion {
    margin: 0 auto;
    height: auto;
  }
  .descripcion__box-container {
    width: auto;
    height: auto;
    padding: 0 20px;
  }
  .descripcion__box {
    width: auto;
    height: auto;
  }
  .descripcion__box p {
    font-size: 16px;
  }
  .descripcion__box div {
    margin-bottom: 5px;
  }
  /* Propiedades */
  .superior-propiedades {
    width: 100%;
    height: 300px;
  }
  .propiedades-section {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
  .propiedades__titulo {
    width: 100%;
    height: 80px;
  }
  .propiedades__titulo h2 {
    font-size: 32px;
  }
  .propiedades__text {
    width: 100%;
    height: 70px;
  }
  .propiedades__text p {
    width: 100%;
    height: 70px;
  }
  .cards-prop {
    width: 380px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .cards-prop .card__image {
    width: 100%;
    height: 260px;
  }
  .cards-prop .card__text div {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 50px;
  }
  .cards-prop .card__price {
    padding: 5px;
    width: 250px;
    font-weight: bold;
  }
  .cards-prop .card__text a {
    width: 150px;
  }
  .cards-prop .prop__btn {
    width: 100%;
  }
  /* Pedidos */
  .pedidos-containes {
    width: 100%;
    height: 300px;
  }
  .pedidos {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .pedidos__title {
    width: 100%;
    height: 80px;
    padding: 20px 15px;
  }
  .pedidos__title h2 {
    font-size: 32px;
  }
  .pedidos__text {
    width: 100%;
    height: 70px;
  }
  .pedidos__text p {
    width: 100%;
    height: 70px;
    margin: 0 0 10px 30px;
  }
  .pedidos {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
  }
  .pedidos__title {
    width: 100%;
    height: 80px;
    padding: 20px 15px;
  }
  .pedidos__title h2 {
    font-size: 32px;
  }
  .pedidos__text {
    width: 100%;
    height: 70px;
  }
  .pedidos__text p {
    width: 100%;
    height: 70px;
    margin: 0 0 10px 10px;
    padding-left: 15px;
  }
  .mid {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .box-info {
    width: 100%;
    height: 100%;
  }
  .box-info p {
    width: 100%;
    height: auto;
  }
  .box-mail {
    width: 100%;
    height: 100%;
    margin: 0 15px;
  }
  .form-pedidos {
    width: 100%;
    height: 1060px;
    padding-bottom: 20px;
  }
  .form-container {
    width: auto;
    height: 100%;
    padding-top: 20px;
  }
  .btn-enviar {
    background-color: #437f86;
    color: #f8f8f8;
    padding: 0 55px;
    line-height: 44px;
    border-radius: 50px;
    float: right;
  }
  .btn-enviar:hover {
    background-color: #212121;
    color: #f8f8f8;
  }
  /* Contacto */
  .contacto-container {
    width: 100%;
    height: 300px;
  }
  .contacto {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
  .contacto__title {
    width: 100%;
    height: 96px;
    padding: 20px 15px;
  }
  .contacto__title h2 {
    font-size: 32px;
  }
  .contacto__text {
    width: 100%;
    height: 55px;
  }
  .contacto__text p {
    width: 100%;
    height: 55px;
    margin: 0 0 10px 30px;
  }
  .contacto-container-main {
    height: auto;
  }
  .contacto-box-container {
    width: auto;
    height: 1160px;
    display: flex;
    flex-direction: column;
  }
  .contacto__box {
    width: auto;
    height: auto;
  }
  .contacto__map {
    width: 100%;
    height: 100%;
  }
  footer {
    width: 100%;
    height: auto;
    padding-top: -50px;
  }
  .footer__container {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__logo {
    width: 100%;
    height: 149px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .footer__contacto {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin-bottom: 25px;
  }
  .footer__tasar {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 0 15px;
  }
  .footer__tasar-info p {
    width: auto;
    overflow: hidden;
  }
  .copyright {
    height: 113px;
  }
  .copyright-container {
    width: 100%;
    height: 113px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copyright-develop {
    margin-top: 15px;
  }
}/*# sourceMappingURL=main.css.map */