@import '../scss/utilities/color.scss';

@import '../scss/normalize/reset.scss';

@import '../scss/components/cards';
@import '../scss/components/navbar';
@import '../scss/components/navsearch';
@import '../scss/components/banners';

@import '../scss/layout/grid.scss';
@import '../scss/layout/flex.scss';
@import '../scss/views/mediaquery';
@import '../scss/layout/header.scss';
@import '../scss/layout/section.scss';
@import '../scss/layout/footer';

$color_1: #212121;
$color_2: #437f86;
$color_3: #f8f8f8;
$color_4: #ffffff;
$color_5: #383838;
$color_6: #808080;
$color_7: #fff;
$color_8: #aaaddd;
$color_9: #555;
$color_10: white;
$color_11: #15120e;
$color_12: #ddd;
$font-family_1: work sans, sans-serif;
$font-family_2: work sans, sans sans-serif;
$font-family_3: work sans-serif;
$background-color_1: #ffffff;
$background-color_2: #437f86;
$background-color_3: #383838;
$background-color_4: black;
$background-color_5: #e2e2e2;
$background-color_6: rgba(255, 255, 255, 0.592);
$background-color_7: transparent;
$background-color_8: #f8f8f8;
$border-color_1: #fff;
$border-top-color_1: #437f86;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
}
header {
	background-color: $background-color_1;
	width: 100%;
	height: 136px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.responsive-navbar {
	display: none;
}
.navbar-container {
	height: 135px;
	width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}
img {
	height: 135px;
	width: 230px;
}
.links {
	height: 130px;
	width: 707px;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.navbar-links {
	width: 707px;
	height: 50px;
	margin: 30px 0px 0px;
	padding: 16px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	li {
		list-style-type: none;
		a {
			height: 30px;
			padding: 10px 12px;
			font-size: 15px;
			font-family: $font-family_2;
			color: $color_1;
			font-weight: 600;
			text-decoration: none;
			&:hover {
				color: $color_2;
			}
		}
	}
}
.social {
	width: 203px;
	height: 30px;
	margin: 20px 0px 0px;
	padding: 10px 0px 0px;
	gap: 20px;
	font-family: $font-family_2;
	display: flex;
	justify-content: end;
	ul {
		li {
			padding: 0px 5px;
		}
	}
	li {
		a {
			padding: 15px 15px;
			color: $color_2;
			font-size: 12px;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.social__links {
	text-decoration: none;
	list-style-type: none;
}
.search {
	width: 100%;
	height: 93px;
	background-color: $background-color_2;
}
.search-container {
	width: auto;
	height: 92px;
	margin: 0 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: $font-family_1;
	color: $color_3;
}
.search-title {
	font-size: 24px;
	color: $color_4;
}
.search-btn {
	color: $color_3;
	background-color: $background-color_3;
	transition: 0.5s;
	height: 40px;
	width: 160px;
	border-radius: 50px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	border: solid 1px transparent;
	&:hover {
		background-color: $background-color_4;
	}
}
.section-slider {
	height: 930px;
	width: 100%;
	img {
		width: 100%;
		height: 934px;
	}
}
.propiedades {
	height: 934px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.propiedades__title {
	width: 1170px;
	height: 93px;
	margin: 0 auto 10px;
	padding: 24px 15px;
	display: flex;
	justify-content: center;
}
.title {
	font-size: 26px;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.1;
	color: $color_5;
}
.cards {
	margin: 0 15px;
	height: 790px;
	width: 1170px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.card {
	height: 390px;
	width: 280px;
	background-color: $background-color_5;
	border: solid 1px #f2f2f2;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	&:hover {
		box-shadow: 1px 10px 10px 1px rgb(0 0 0 / 40%);
	}
	h2 {
		font-size: 15px;
		font-weight: 500;
		color: $color_5;
		line-height: 18px;
		margin-top: 0px;
		margin-bottom: 5px;
	}
	li {
		list-style-type: none;
		margin: 5px;
	}
	p {
		width: 280px;
		font-size: 20px;
		font-weight: 500;
		color: $color_5;
		padding-top: 30px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		line-height: 40px;
		text-align: left;
	}
	button {
		color: $color_4;
		background-color: $background-color_2;
		border: solid 1px #437f86;
		margin-top: 30px;
		padding: 5px 14px;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		cursor: pointer;
		transition: 0.5s;
	}
}
.card__image {
	width: 260px;
	height: 100%;
	img {
		height: 100%;
		width: 100%;
	}
}
.card__text {
	height: 160px;
	display: flex;
	flex-direction: column;
	span {
		width: 100%;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 8px;
	}
	ul {
		height: 50px;
		font-size: 12px;
		color: $color_6;
		line-height: 16px;
		letter-spacing: -0.4px;
		margin-bottom: 5px;
		padding-left: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		display: flex;
		justify-content: flex-start;
		margin-left: 0px;
	}
}
.presentacion-container {
	width: 100%;
	height: 550px;
	background-image: url('../img/home/image-home.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-container {
	margin: 0 auto;
	width: 1170px;
	height: 504px;
	padding: 24px 15px;
}
.box__content {
	width: 457.5px;
	height: 432px;
	padding: 70px 40px 20px;
	background-color: $background-color_2;
}
.box__title {
	width: 341.58px;
	height: 76.22px;
	font-size: 22px;
	font-weight: 600;
	margin: 0px 0px 10px;
	padding: 0px 0px 10px;
	color: $color_4;
}
span {
	width: 341.58px;
	height: 76.22px;
	font-size: 24px;
}
.box__text {
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.76;
	margin-bottom: 30px;
	color: $color_4;
}
.superior-nosotros {
	height: 183px;
	width: 100%;
	background-image: url(../img/nosotros/nosotros-bg.jpg);
}
.nosotros {
	color: $color_5;
	width: 100%;
	height: 100%;
	background-color: $background-color_6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nosotros__title {
	h2 {
		font-size: 44px;
		font-family: $font-family_3;
		color: $color_5;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
		line-height: 1.44;
	}
}
.nosotros__text {
	p {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.75;
		color: $color_5;
		padding: 10px 50px;
		margin-left: 50px;
		border-left: solid 3px #437f86;
	}
}
.inferior-nosotros {
	height: 974px;
	width: 100%;
	padding: 24px 0px;
	display: flex;
	justify-content: center;
}
.descripcion {
	width: 1170px;
	height: 926px;
	margin: 0px 15px;
	display: flex;
	justify-content: center;
}
.descripcion__box-container {
	width: 585px;
	height: 926px;
	padding: 0px 15px 24px;
}
.descripcion__box {
	width: 555px;
	height: 902.21px;
	padding: 70px 40px 20px;
	background-color: $background-color_2;
	box-shadow: 6px 6px 25px 0 rgb(0 0 0 / 39%);
	h2 {
		font-size: 22px;
		font-family: $font-family_1;
		color: $color_4;
		margin: 0px 0px 14px;
		padding: 0px 0px 10px;
	}
	span {
		font-size: 24px;
	}
	div {
		font-family: $font-family_1;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.75;
		color: $color_4;
		margin-bottom: 30px;
		overflow: hidden;
	}
}
.descripcion__img {
	width: 585px;
	height: 680px;
	padding: 0px 15px;
	img {
		width: 555px;
		height: 680px;
	}
}
.superior-propiedades {
	height: 183px;
	width: 100%;
	background-image: url(../img/nosotros/nosotros-bg.jpg);
}
.propiedades-section {
	color: $color_5;
	width: 100%;
	height: 100%;
	background-color: $background-color_6;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.propiedades__titulo {
	h2 {
		font-size: 44px;
		font-family: $font-family_3;
		color: $color_5;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
		line-height: 1.44;
	}
}
.propiedades__text {
	p {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.75;
		color: $color_5;
		padding: 10px 50px;
		margin-left: 50px;
		border-left: solid 3px #437f86;
	}
}
.inferior-propiedades {
	width: 100%;
	height: 100%;
	padding-top: 30px;
}
.cards-prop {
	height: 100%;
	width: 1170px;
	margin: 0 auto;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.pedidos-container {
	height: 183.33px;
	width: 100%;
	background-image: url(../img/contacto/contacto-bg.jpg);
}
.pedidos {
	color: $color_5;
	width: 100%;
	height: 100%;
	background-color: $background-color_6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pedidos__title {
	h2 {
		font-size: 44px;
		font-family: $font-family_3;
		color: $color_5;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
		line-height: 1.44;
	}
}
.pedidos__text {
	p {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.75;
		color: $color_5;
		padding: 10px 50px;
		margin-left: 50px;
		border-left: solid 3px #437f86;
	}
}
.mid-container {
	width: 100%;
	height: 546px;
	padding: 24px 0px;
	place-content: center;
	margin: 0 auto;
}
.mid {
	width: 1170px;
	height: 500px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
.box-mail {
	width: 585;
	height: 485px;
	padding: 0px 15px 24px;
}
.box-info {
	width: 555px;
	height: 432px;
	padding: 70px 40px 20px;
	background-color: $background-color_2;
	h2 {
		width: 252px;
		height: 76px;
		margin: 0px 0px 14px;
		font-size: 22px;
		font-weight: 600;
		line-height: 1.44;
		padding-bottom: 10px;
		color: $color_7;
	}
	p {
		width: 475px;
		height: 222px;
		margin: 0px 0px 30px;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.76;
		color: $color_7;
		a {
			text-decoration: none;
			color: $color_8;
		}
	}
}
.img-container {
	position: relative;
	width: 585px;
	height: 500px;
	padding: 24px 15px 0px;
	img {
		position: absolute;
		width: 390px;
		height: 400px;
	}
}
.rectangulo {
	position: absolute;
	left: 250px;
	top: 100px;
	background-color: $background-color_2;
	width: 250px;
	height: 250px;
	opacity: 0.8;
}
.form-pedidos {
	width: 100%;
	height: 758.8px;
	padding-top: 24px;
}
.form-container {
	width: 1170px;
	height: 687px;
	margin: 0 auto;
	padding: 40px;
}
.row {
	width: 1090;
	height: 583px;
	font-size: 14px;
	line-height: 1.42;
	cursor: auto;
}
.col-xs-12 {
	padding: 15px 15px;
	p {
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin: 0 0 10px;
	}
}
.separator-color-x {
	margin-bottom: 6px;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: $border-top-color_1;
	width: 60px;
}
.form-control {
	display: block;
	width: 100%;
	min-height: 44px;
	padding: 12px 2px;
	font-size: 14px;
	line-height: 1.42857143;
	color: $color_9;
	background-color: $background-color_7;
	background-image: none;
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%);
}
.btn-enviar {
	background-color: $background-color_2;
	color: $color_10;
	padding: 0 55px;
	line-height: 44px;
	border-radius: 50px;
	float: right;
}
.contacto-container {
	height: 183.33px;
	width: 100%;
	background-image: url(../img/contacto/contacto-bg.jpg);
}
.contacto {
	color: $color_5;
	width: 100%;
	height: 100%;
	background-color: $background-color_6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacto__title {
	h2 {
		font-size: 44px;
		font-family: $font-family_3;
		color: $color_5;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
		line-height: 1.44;
	}
}
.contacto__text {
	p {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.75;
		color: $color_5;
		padding: 10px 50px;
		margin-left: 50px;
		border-left: solid 3px #437f86;
	}
}
.contacto-container-main {
	height: 658px;
	width: 100%;
	padding: 24px 0px;
}
.contacto-box-container {
	height: 605px;
	width: 1170px;
	margin: 0px auto;
	padding: 24px 15px;
	display: flex;
	flex-direction: row;
}
.contacto__box {
	height: 557px;
	width: 585px;
	padding: 0px 15px 24px;
}
.contacto__box-info {
	height: 474px;
	width: 555px;
	padding: 40px;
	background-color: $background-color_8;
	p {
		width: 475px;
		height: 35px;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		padding-bottom: 5px;
		margin: 0px 0px 10px;
	}
}
.input-group {
	input {
		border: none;
		background-color: $background-color_7;
		width: 100%;
	}
	margin-bottom: 15px;
	font-family: $font-family_1;
	font-size: 14px;
	color: $color_5;
	padding: 12px 2px;
	background-image: none;
	border: 0px;
	border-bottom: solid 1px #ccc;
}
textarea {
	border: none;
	background-color: $background-color_7;
	width: 100%;
}
.contacto__box-line {
	margin-bottom: 6px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: $border-top-color_1;
	width: 60px;
}
.contacto__btn {
	color: $color_10;
	background: #437f86;
	padding: 0px 55px;
	border-radius: 50px;
	width: 100%;
	margin-bottom: 0;
	border: solid 1px transparent;
	cursor: pointer;
	font-size: 14px;
	height: 46px;
}
.contacto__map {
	height: 552px;
	width: 585px;
	padding: 24px 15px;
}
*/ {
	footer {
		height: 302px;
		background-repeat: repeat-x;
		background-color: $background-color_5;
		padding-top: 30px;
		padding-bottom: 30px;
		color: $color_11;
	}
}
.footer__container {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer__logo {
	height: 149px;
	width: 292.5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		justify-content: center;
	}
	ul {
		list-style-type: none;
	}
}
.footer__social {
	margin-top: 10px;
	display: flex;
	li {
		a {
			padding: 15px 15px;
			color: $color_2;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.footer__contacto {
	height: 147px;
	width: 487.5px;
	padding-left: 15px;
	padding-right: 15px;
}
.footer__contacto-title {
	height: 28px;
	font-size: 22px;
	font-weight: 600;
	color: $color_11;
	margin-bottom: 10px;
}
.footer__contacto-info {
	font-size: 16px;
	line-height: 26px;
	color: $color_11;
	margin-bottom: 5px;
}
.footer__tasar {
	height: 162px;
	width: 390px;
	padding-left: 15px;
	padding-right: 15px;
}
.footer__tasar-title {
	height: 28px;
	font-size: 22px;
	font-weight: 600;
	color: $color_11;
	margin-bottom: 10px;
}
.footer__tasar-info {
	font-size: 16px;
	line-height: 26px;
	color: $color_11;
	margin-bottom: 5px;
	a {
		color: $color_2;
		font-weight: 600;
		text-decoration: none;
	}
}
.copyright {
	height: 67px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: $background-color_2;
	color: $color_5;
	font-size: 12px;
	color: $color_4;
}
.copyright-container {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
}
.copyright-develop {
	a {
		color: $color_12;
		text-decoration: none;
		font-size: 12px;
		&:hover {
			color: $color_11;
		}
	}
}
@media screen and (max-width: 1199px) {
	.navbar-container {
		width: 940px;
		margin-right: 0px;
		margin-left: 0px;
	}
	.navbar-links {
		display: flex;
		justify-content: flex-start;
	}
	.social {
		padding-right: 140px;
	}
	.search-container {
		width: 970px;
		display: flex;
		flex-wrap: wrap;
	}
	.search-btn {
		width: 100px;
	}
	.propiedades {
		width: 970px;
		margin: 0 auto;
	}
	.propiedades__title {
		width: 970px;
	}
	.cards {
		width: 970px;
		margin-left: 0;
	}
	.card {
		width: 240px;
		height: 390px;
		display: flex;
		span {
			margin-top: 12px;
			margin-bottom: 10px;
		}
		h2 {
			margin-bottom: 15px;
		}
		p {
			font-size: 18px;
			font-weight: 500;
			color: $color_5;
			padding-top: 30px;
			padding-bottom: 20px;
			margin-bottom: 0px;
			line-height: 40px;
		}
		button {
			margin-top: 15px;
			margin-right: 0px;
			padding: 5px 5px;
			font-size: 14px;
		}
	}
	.card__image {
		width: 220px;
		height: 190px;
		align-items: center;
		justify-content: center;
	}
	.card__text {
		ul {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
		}
	}
	.presentacion-container {
		height: 551.88px;
		padding: 24px 0;
	}
	.box-container {
		width: 970px;
	}
	.superior-nosotros {
		height: 247px;
	}
	.nosotros {
		font-size: 44px;
	}
	.inferior-nosotros {
		height: 1060px;
		margin-bottom: 40px;
	}
	.descripcion {
		width: 970px;
		height: 1052px;
	}
	.descripcion__box {
		width: 485px;
		height: 1052px;
	}
	.descripcion__img {
		width: 455px;
		height: 560px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.cards-prop {
		width: 970px;
	}
	.mid {
		width: 970px;
		height: 520px;
	}
	.form-container {
		width: 970px;
	}
	.img-container {
		width: 455px;
		height: 389px;
	}
	.box-info {
		width: 455px;
		height: 495px;
		p {
			width: 375px;
			height: 285px;
		}
	}
	.contacto-box-container {
		width: 970px;
		margin: 0 auto;
	}
	.contacto__box {
		width: 485px;
		height: 557px;
	}
	.contacto__box-info {
		width: 100%;
		height: 100%;
	}
	.contacto__map {
		width: 485px;
		height: 550px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	.footer__container {
		margin: 0 auto;
		width: 970px;
		height: 225px;
		padding: 0px 15px;
	}
	.footer__logo {
		margin-top: 30px;
	}
	.footer__tasar {
		height: 216px;
		width: 323.32px;
		padding: 0 -15px;
	}
	.footer__contacto {
		height: 224.96px;
		width: 323.32px;
		padding: 0 15px;
	}
	.footer__tasar-info {
		padding-top: 20px;
	}
	.copyright-container {
		width: 970px;
		margin-top: 50px;
	}
}
@media screen and (max-width: 998px) {
	header {
		height: 250px;
		margin: 0 auto;
	}
	.navbar-container {
		width: 720px;
		height: 100%;
		img {
			margin-left: 30px;
		}
	}
	.social {
		padding-top: 40px;
		margin-right: 200px;
	}
	.navbar-links {
		height: 55px;
		padding-top: 100px;
		margin-right: 200px;
	}
	.propiedades {
		width: auto;
		height: 1990px;
		margin: 0 auto;
	}
	.propiedades__title {
		width: auto;
	}
	.cards {
		height: 1900px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(8, 1fr);
		gap: 0;
		align-items: center;
		justify-items: center;
	}
	.card {
		width: 375px;
		height: 453px;
		display: flex;
	}
	.card__image {
		width: 100%;
		height: 350px;
	}
	.box-container {
		width: 750px;
		height: 409px;
		margin: 0 auto;
		padding: 24px 15px;
		overflow: hidden;
	}
	.box__content {
		width: 720px;
		height: 337px;
		margin-top: 30px;
		padding: 70px 40px 20px;
	}
	.superior-nosotros {
		height: 275px;
	}
	.search-container {
		display: flex;
		justify-content: center;
		gap: 100px;
	}
	.search-title {
		display: none;
	}
	.inferior-nosotros {
		height: 850px;
	}
	.descripcion {
		width: 100%;
		height: 800px;
	}
	.descripcion__img {
		display: none;
	}
	.descripcion__box-container {
		width: 100%;
		height: 800px;
	}
	.descripcion__box {
		width: 750px;
		height: 800px;
		margin: 0 auto;
	}
	.cards-prop {
		width: 998px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}
	.mid-container {
		height: auto;
	}
	.img-container {
		display: none;
	}
	.mid {
		width: 750px;
		height: 424px;
	}
	.box-info {
		width: 720px;
		height: 400px;
		p {
			width: 640px;
			height: 190px;
		}
	}
	.form-container {
		width: 750px;
		height: 805px;
	}
	.contacto-box-container {
		width: 750px;
	}
	.contacto__box {
		width: 375px;
		height: 557px;
	}
	.contacto__map {
		width: 375px;
		height: 552px;
	}
	footer {
		height: auto;
		padding-top: 70px;
	}
	.footer__tasar {
		margin-left: 10px;
	}
	.footer__container {
		padding-bottom: 70px;
		width: 750px;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.footer__logo {
		width: 100%;
		height: 200px;
		padding-bottom: 25px;
	}
	.footer__contacto {
		padding-top: 10px;
	}
	.copyright-container {
		width: 100%;
		margin-top: 50px;
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 767px) {
	header {
		width: 100%;
		height: 60px;
	}
	.responsive-navbar {
		display: block;
	}
	.btn-success {
		--bs-btn-bg: #437f86;
	}
	.btn {
		font-size: 0.75rem;
		color: $color_2;
		background: #fff;
		border-color: $border-color_1;
		&:hover {
			background: #437f86;
			color: $color_7;
		}
	}
	.navegacion {
		padding: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		list-style: none;
		height: 30%;
		a {
			padding: 15px;
			color: $color_2;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				background-color: $background-color_2;
				color: $color_7;
			}
		}
	}
	.contenedor_logo {
		display: flex;
		justify-content: center;
		img {
			border-radius: 50%;
			width: 250px;
			height: 150px;
		}
	}
	.acomodar {
		position: relative;
		top: 10px;
		left: 10px;
	}
	.navbar-container {
		width: 100%;
		padding: 0;
		a {
			width: 84px;
			img {
				width: 84px;
				height: 50px;
				margin: 0 auto;
			}
		}
	}
	.links {
		display: none;
	}
	.search {
		display: none;
	}
	.propiedades {
		width: 100%;
		height: auto;
		padding: 20px 0px 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.cards {
		height: auto;
		width: 100%;
		margin: 0 15px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 1fr);
		grid-column-gap: 15px;
	}
	.card {
		width: 380px;
		height: 460px;
		overflow: hidden;
		position: relative;
		min-height: 1px;
		margin: 0 auto 20px;
		padding: 14px 14px 0px;
	}
	.card__image {
		height: 285px;
		width: 385px;
		margin: -14px;
		margin-bottom: 14px;
		img {
			width: 100%;
		}
	}
	.box-container {
		width: auto;
		height: auto;
		padding: 15px 15px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.box__content {
		width: auto;
		height: auto;
		margin: 0;
		padding: 15px 10px;
	}
	.box__title {
		width: 100%;
		height: auto;
		font-size: 32px;
		line-height: 1.44;
		margin-top: 0px;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.box__text {
		width: 100%;
		height: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 1.56;
		font-stretch: normal;
	}
	.superior-nosotros {
		width: 100%;
		height: auto;
	}
	.nosotros {
		height: auto;
		padding: 25px 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
	}
	.inferior-nosotros {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	.descripcion {
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	.descripcion__box-container {
		width: 100%;
		height: auto;
		padding: 0px 15px 20px;
		margin: 0 auto;
	}
	.descripcion__box {
		width: 100%;
		height: auto;
		padding: 30px 15px;
		h2 {
			font-size: 32px;
			line-height: 1.44;
			font-weight: 600;
		}
		span {
			font-size: 24px;
		}
		p {
			font-size: 16px;
			line-height: 1.56;
			padding-bottom: 0px;
		}
	}
	.descripcion__img {
		display: block;
		height: auto;
		width: auto;
		padding: 0 15px;
		margin-top: 24px;
		margin-bottom: 20px;
		img {
			height: auto;
		}
	}
	.form-container {
		width: auto;
		height: auto;
	}
	.contacto-container-main {
		height: auto;
	}
	.contacto-box-container {
		width: auto;
		height: 1157px;
		display: flex;
		flex-direction: column;
	}
	.contacto__box {
		width: auto;
		height: auto;
	}
	.contacto__map {
		width: auto;
		height: 100%;
	}
	footer {
		height: auto;
		width: 100%;
		padding-top: -50px;
	}
	.footer__container {
		width: auto;
		height: auto;
		padding: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.footer__logo {
		width: 100%;
		height: 149px;
		padding: 10px 15px;
		margin-bottom: 10px;
	}
	.footer__contacto {
		width: 100%;
		height: auto;
		padding: 0 15px;
		margin-bottom: 25px;
	}
	.footer__tasar {
		width: 100%;
		height: auto;
		margin-left: 0;
		padding: 0 15px;
	}
	.footer__tasar-info {
		p {
			width: auto;
			overflow: hidden;
		}
	}
	.copyright {
		height: 113px;
	}
	.copyright-container {
		width: 100%;
		height: 113px;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.copyright-develop {
		margin-top: 15px;
	}
}