/* Definicion de variables */
@import '../scss/utilities/color.scss';

/* Reset de css clasico */
@import '../scss/normalize/reset.scss';

/* Elementos correspondientes a layout */
@import '../scss/layout/grid.scss';
@import '../scss/layout/flex.scss';
@import '../scss/views/queries.scss';

/* Components */
@import '../scss/components/buttons';
@import '../scss/components/cards';
@import '../scss/components/images';
@import '../scss/components/lists';
@import '../scss/components/navbar.scss';
@import '../scss/components/text';
@import '../scss/components/navsearch.scss';

/*--------- CONTACTO ----------*/

.contacto-container-main {
  height: 654px;
  width: 100%;
  padding: 24px 0px;

  display: flex;
  justify-content: center;
}
.contacto-box-container {
  height: 600px;
  width: 1170px;
  margin: 0px 38px;
  padding: 24px 15px;

  display: flex;
  justify-content: center;
}
.contacto__box {
  height: 498px;
  width: 585px;
  padding: 0px 15px 24px;
}
.contacto__btn {
  color: white;
  background: #437f86;
  padding: 0px 55px;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 0;
  border: solid 1px transparent;
  cursor: pointer;
  font-size: 14px;
  height: 46px;
}
.contacto__map {
  height: 552px;
  width: 585px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.input {
  height: 474px;
  width: 555px;
  padding: 40px;
  background-color: #f8f8f8;

  & p {
    width: 475px;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 5px;
    margin: 0px 0px 10px;
  }

  & form {
    height: 308px;
    width: 475px;
  }
  &-group {
    margin-bottom: 15px;
    font-family: work sans, sans-serif;
    font-size: 14px;
    color: #383838;
    padding: 12px 2px;
    background-image: none;
    border: 0px;
    border-bottom: solid 1px #ccc;
  }
}

.line {
  margin-bottom: 6px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #437f86;
  width: 60px;
}
/*---------- FOOTER -----------*/

footer {
  height: 302px;
  background-repeat: repeat-x;
  background-color: #e2e2e2;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #15120e;
}
.footer__container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__logo {
  height: 149px;
  width: 292.5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  justify-content: center;
}
.footer__logo ul {
  list-style-type: none;
}
.footer-social {
  margin-top: 10px;
  display: flex;
}
.footer-social li a {
  padding: 15px 15px;
  color: #437f86;
  opacity: 0.4;
}
.footer-social li a:hover {
  opacity: 1;
}
.footer__contacto {
  height: 147px;
  width: 487.5px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__contacto-title {
  height: 28px;
  font-size: 22px;
  font-weight: 600;
  color: #15120e;
  margin-bottom: 10px;
}
.footer__contacto-info {
  font-size: 16px;
  line-height: 26px;
  color: #15120e;
  margin-bottom: 5px;
}
.footer__tasar {
  height: 162px;
  width: 390px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__tasar-title {
  height: 28px;
  font-size: 22px;
  font-weight: 600;
  color: #15120e;
  margin-bottom: 10px;
}
.footer__tasar-info {
  font-size: 16px;
  line-height: 26px;
  color: #15120e;
  margin-bottom: 5px;
}
.footer__tasar-info a {
  color: #437f86;
  font-weight: 600;
  text-decoration: none;
}
.copyright {
  height: 67px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #437f86;
  color: #383838;
  font-size: 12px;
  color: #ffffff;
}
.copyright-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.copyright-develop a {
  color: #ddd;
  text-decoration: none;
  font-size: 12px;
}
.copyright-develop a:hover {
  color: #15120e;
}
/*--------- MEDIA QUERIES ---------*/

@media screen and (max-width: 1199px) {
  .navbar-container {
    width: 940px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar-links {
    display: flex;
    justify-content: flex-start;
  }
  .social {
    padding-right: 140px;
  }
  /* NAVBAR SEARCH */

  .search-container {
    width: 970px;
    display: flex;
    flex-wrap: wrap;
  }
  .search-btn {
    width: 100px;
  }
  /* HOME */
  .propiedades {
    width: 970px;
    margin: 0 auto;
  }
  .propiedades__title {
    width: 970px;
  }
  .cards {
    width: 970px;
    margin-left: 0;
  }
  .card {
    width: 240px;
    height: 390px;
    display: flex;
  }
  .card__image {
    width: 220px;
    height: 190px;
    align-items: center;
    justify-content: center;
  }
  .card span {
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .card h2 {
    margin-bottom: 15px;
  }
  .card__text ul {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .card p {
    font-size: 18px;
    font-weight: 500;
    color: #383838;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    line-height: 40px;
  }
  .card button {
    margin-top: 15px;
    margin-right: 0px;
    padding: 5px 5px;
    font-size: 14px;
  }
  .presentacion-container {
    height: 551.88px;
    padding: 24px 0;
  }
  .box-container {
    width: 970px;
  }
  /* NOSOTROS */
  .superior-nosotros {
    height: 247px;
  }
  .nosotros {
    font-size: 44px;
  }
  .inferior-nosotros {
    height: 1060px;
    margin-bottom: 40px;
  }
  .descripcion {
    width: 970px;
    height: 1052px;
  }
  .descripcion__box {
    width: 485px;
    height: 1052px;
  }
  .descripcion__img {
    width: 455px;
    height: 560px;
  }
  .descripcion__img img {
    width: 100%;
    height: 100%;
  }
  /* PROPIEDADES */

  .cards-prop {
    width: 970px;
  }
  /* FOOTER */
  .footer__container {
    margin: 0 auto;
    width: 970px;
    height: 225px;
    padding: 0px 15px;
  }
  .footer__logo {
    margin-top: 30px;
  }
  .footer__tasar {
    height: 216px;
    width: 323.32px;
    padding: 0 -15px;
  }
  .footer__contacto {
    height: 224.96px;
    width: 323.32px;
    padding: 0 15px;
  }
  .footer__tasar-info {
    padding-top: 20px;
  }
  .copyright-container {
    width: 970px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 998px) {
  header {
    height: 250px;
    margin: 0 auto;
  }
  .navbar-container {
    width: 720px;
    height: 100%;
  }
  .navbar-container img {
    margin-left: 30px;
  }
  .social {
    padding-top: 40px;
    margin-right: 200px;
  }
  .navbar-links {
    height: 55px;
    padding-top: 100px;
    margin-right: 200px;
  }
  /* HOME */
  .propiedades {
    width: auto;
    height: 1990px;
    margin: 0 auto;
  }
  .propiedades__title {
    width: auto;
  }
  .cards {
    height: 1900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    align-items: center;
    justify-items: center;
  }
  .card {
    width: 375px;
    height: 453px;
    display: flex;
  }
  .card__image {
    width: 100%;
    height: 350px;
  }
  .box-container {
    width: 750px;
    height: 409px;
    margin: 0 auto;
    padding: 24px 15px;
    overflow: hidden;
  }
  .box__content {
    width: 720px;
    height: 337px;
    margin-top: 30px;
    padding: 70px 40px 20px;
  }

  /* NOSOTROS */
  .superior-nosotros {
    height: 275px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .search-title {
    display: none;
  }
  .inferior-nosotros {
    height: 850px;
  }
  .descripcion {
    width: 100%;
    height: 800px;
  }
  .descripcion__img {
    display: none;
  }
  .descripcion__box-container {
    width: 100%;
    height: 800px;
  }
  .descripcion__box {
    width: 750px;
    height: 800px;
    margin: 0 auto;
  }
  /* PROPIEDADES */

  .cards-prop {
    width: 998px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  /* FOOTER */
  footer {
    height: auto;
    padding-top: 70px;
  }
  .footer__tasar {
    margin-left: 10px;
  }
  .footer__container {
    padding-bottom: 70px;
    width: 750px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    width: 100%;
    height: 200px;
    padding-bottom: 25px;
  }
  .footer__contacto {
    padding-top: 10px;
  }
  .copyright-container {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 60px;
  }
  .responsive-navbar {
    display: block;
  }
  .btn-success {
    --bs-btn-bg: #437f86;
  }
  .btn {
    font-size: 0.75rem;
    color: #437f86;
    background: #fff;
    border-color: #fff;
  }
  .btn:hover {
    background: #437f86;
    color: #fff;
  }
  .navegacion {
    padding: 0;
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    list-style: none;
    height: 30%;
  }
  .navegacion a {
    padding: 15px;
    color: #437f86;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navegacion a:hover {
    background-color: #437f86;
    color: #fff;
  }
  .contenedor_logo {
    display: flex;
    justify-content: center;
  }

  .contenedor_logo img {
    border-radius: 50%;
    width: 250px;
    height: 150px;
  }

  .acomodar {
    position: relative;
    top: 10px;
    left: 10px;
  }
  .navbar-container {
    width: 100%;
    padding: 0;
  }
  .navbar-container a {
    width: 84px;
  }
  .navbar-container a img {
    width: 84px;
    height: 50px;
    margin: 0 auto;
  }
  .links {
    display: none;
  }
  .search {
    display: none;
  }
  /* HOME */

  .propiedades {
    width: 100%;
    height: auto;
    padding: 20px 0px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .cards {
    height: auto;
    width: 100%;
    margin: 0 15px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 15px;
  }
  .card {
    width: 380px;
    height: 460px;
    overflow: hidden;
    position: relative;
    min-height: 1px;
    margin: 0 auto 20px;
    padding: 14px 14px 0px;
  }
  .card__image {
    height: 285px;
    width: 385px;
    margin: -14px;
    margin-bottom: 14px;
  }
  .card__image img {
    width: 100%;
  }
  .box-container {
    width: auto;
    height: auto;
    padding: 15px 15px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .box__content {
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px 10px;
  }
  .box__title {
    width: 100%;
    height: auto;
    font-size: 32px;
    line-height: 1.44;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .box__text {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.56;
    font-stretch: normal;
  }

  /* NOSOTROS */
  .superior-nosotros {
    width: 100%;
    height: auto;
  }
  .nosotros {
    height: auto;
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .inferior-nosotros {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .descripcion {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .descripcion__box-container {
    width: 100%;
    height: auto;
    padding: 0px 15px 20px;
    margin: 0 auto;
  }
  .descripcion__box {
    width: 100%;
    height: auto;
    padding: 30px 15px;
  }

  .descripcion__box h2 {
    font-size: 32px;
    line-height: 1.44;
    font-weight: 600;
  }
  .descripcion__box span {
    font-size: 24px;
  }
  .descripcion__box p {
    font-size: 16px;
    line-height: 1.56;
    padding-bottom: 0px;
  }
  .descripcion__img {
    display: block;
    height: auto;
    width: auto;
    padding: 0 15px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .descripcion__img img {
    height: auto;
  }

  /* PROPIEDADES */

  /* FOOTER */
  footer {
    height: auto;
    width: 100%;
  }
  .footer__container {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__logo {
    width: 100%;
    height: 149px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .footer__contacto {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin-bottom: 25px;
  }
  .footer__tasar {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 0 15px;
  }
  .footer__tasar-info p {
    width: auto;
    overflow: hidden;
  }
  .copyright {
    height: 113px;
  }
  .copyright-container {
    width: 100%;
    height: 113px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copyright-develop {
    margin-top: 15px;
  }
}
