@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@media screen and (max-width: 1199px) {
  .navbar-container {
    width: 940px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar-links {
    display: flex;
    justify-content: flex-start;
  }
  .social {
    padding-right: 140px;
  }
  .search-container {
    width: 970px;
    display: flex;
    flex-wrap: wrap;
  }
  .search-btn {
    width: 100px;
  }
  .propiedades {
    width: 970px;
    margin: 0 auto;
  }
  .propiedades__title {
    width: 970px;
  }
  .cards {
    width: 970px;
    margin-left: 0;
  }
  .card {
    @include size(240px, 390px);
    display: flex;
    span {
      margin-top: 12px;
      margin-bottom: 10px;
    }
    h2 {
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: $color_5;
      padding-top: 30px;
      padding-bottom: 20px;
      margin-bottom: 0px;
      line-height: 40px;
    }
    button {
      margin-top: 15px;
      margin-right: 0px;
      padding: 5px 5px;
      font-size: 14px;
    }
  }
  .card__image {
    @include size(220px, 190px);
    align-items: center;
    justify-content: center;
  }
  .card__text {
    ul {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }
  .presentacion-container {
    height: 551.88px;
    padding: 24px 0;
  }
  .box__container {
    width: 970px;
    margin-left: 50px;
  }
  .superior-nosotros {
    height: 247px;
  }
  .nosotros {
    font-size: 44px;
  }
  .inferior-nosotros {
    height: 1060px;
    margin-bottom: 40px;
  }
  .descripcion {
    @include size(970px, 1052px);
  }
  .descripcion__box {
    width: 485px;
    height: 1052px;
  }
  .descripcion__img {
    width: 455px;
    height: 560px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .cards-prop {
    width: 970px;
  }
  .mid {
    @include size(970px, 520px);
  }
  .form-container {
    width: 970px;
  }
  .img-container {
    @include size(455px, 389px);
  }
  .box-info {
    @include size(455px, 495px);
    p {
    @include size(375px, 285px);
    }
  }
  .contacto-box-container {
    width: 970px;
    margin: 0 auto;
  }
  .contacto__box {
    @include size(485px, 557px);
  }
  .contacto__box-info {
    width: 100%;
    height: 100%;
  }
  .contacto__map {
    @include size(385px, 550px);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .footer__container {
    margin: 0 auto;
    @include size(970px, 225px);
    padding: 0px 15px;
  }
  .footer__logo {
    margin-top: 30px;
  }
  .footer__tasar {
    @include size(323px, 216px);
    padding: 0 -15px;
  }
  .footer__contacto {
    @include size(323px, 225px);
    padding: 0 15px;
  }
  .footer__tasar-info {
    padding-top: 20px;
  }
  .copyright-container {
    width: 970px;
    margin-top: 50px;
  }
}