@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@media screen and (max-width: 767px) {
  header {
    @include size(100%, 60px);
  }
  .responsive-navbar {
    display: block;
  }
  .btn-success {
    --bs-btn-bg: $color_2;
  }
  .btn {
    font-size: 0.75rem;
    color: $color_2;
    background: #fff;
    border-color: $color_3;
    &:hover {
      background: $color_2;
      color: $color_3;
    }
  }
  .navegacion {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 30%;
    a {
      padding: 15px;
      color: $color_2;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: $color_2;
        color: $color_3;
      }
    }
  }
  .contenedor_logo {
    display: flex;
    justify-content: center;
    img {
      border-radius: 50%;
      @include size(250px, 150px);
    }
  }
  .acomodar {
    position: relative;
    top: 10px;
    left: 10px;
  }
  .navbar-container {
    width: 100%;
    padding: 0;
    a {
      width: 84px;
      img {
        @include size(84px, 50px);
        margin: 0 auto;
      }
    }
  }
  .links {
    display: none;
  }
  .search {
    display: none;
  }
  .section-slider {
    height: 400px;
    width: 100%;
    img {
      width: 100%;
      height: 400px;
    }
  }

  /* Home */
  .propiedades {
    @include size(auto, auto);
    padding: 20px 0px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cards {
    @include size(auto, auto);

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    & .card__image {
    @include size(100%, 260px);
    }
    & .card__text div {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      padding-top: 50px;
    }
    & .card__price {
      padding: 5px;
      width: 150px;
      font-weight: bold;
      font-size: 20px;
    }
    & .card__text a{
      width: 150px;
    }
    .card__btn {
      width: 100%;
      margin-top: 10px;
    }
  }
  .box__container {
    @include size(100%, auto);
    padding: 15px 15px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .box__content {
    @include size(auto, auto);
    margin: 0;
    padding: 15px 10px;
  }
  .box__title {
    @include size(100%, auto);

    font-size: 32px;
    line-height: 1.44;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .box__text {
    @include size(100%, auto);

    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.56;
    font-stretch: normal;
  }
  /* Sobre nosotros */
  .superior-nosotros {
    @include size(100%, 300px);
  }
  .nosotros {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    &__title {
      @include size(100%, 80px);
      padding: 20px 15px;
      h2 {
        font-size: 32px;
      }
    }
    &__text {
      @include size(100%, 70px);
      p {
        @include size(100%, 70px);
        margin: 0 0 10px 30px;
      }
    }
  }
  .inferior-nosotros {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .descripcion {
    margin: 0 auto;
    height: auto;

    &__box-container {
      width: auto;
      height: auto;
      padding: 0 20px;
    }
    &__box {
      width: auto;
      height: auto;
      p {
        font-size: 16px;
      }
      div {
        margin-bottom: 5px;
      }
    }
  }
  /* Propiedades */

  .superior-propiedades {
    @include size(100%, 300px);
  }
  .propiedades-section {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
  .propiedades__titulo {
    @include size(100%, 80px);
    h2 {
      font-size: 32px;
    }
  }
  .propiedades__text {
    @include size(100%, 70px);
    p {
      @include size(100%, 70px);
    }
  }
  .cards-prop {
    width: 380px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    & .card__image {
      width: 100%;
      height: 260px;
    }
    & .card__text div {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 10px;
      padding-top: 50px;
    }
    & .card__price {
      padding: 5px;
      width: 250px;
      font-weight: bold;
    }
    & .card__text a{
      width: 150px;
    }
    .prop__btn {
      width: 100%;
    }
  }

  /* Pedidos */
  .pedidos-containes {
    @include size(100%, 300px);
  }
  .pedidos {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    &__title {
      @include size(100%, 80px);
      padding: 20px 15px;
      h2 {
        font-size: 32px;
      }
    }
    &__text {
      @include size(100%, 70px);
      p {
        @include size(100%, 70px);
        margin: 0 0 10px 30px;
      }
    }
  }
  .pedidos {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    &__title {
      @include size(100%, 80px);
      padding: 20px 15px;
      h2 {
        font-size: 32px;
      }
    }
    &__text {
      @include size(100%, 70px);
      p {
        @include size(100%, 70px);
        margin: 0 0 10px 10px;
        padding-left: 15px;
      }
    }
  }
  .mid {
    @include size(auto, auto);
    display: flex;
    justify-content: center;
  }

  .box-info {
    @include size(100%, 100%);
    p {
      @include size(100%, auto);
    }
  }
  .box-mail {
    @include size(100%, 100%);
    margin: 0 15px;
  }
  .form-pedidos {
    @include size(100%, 1060px);
    padding-bottom: 20px;
  }
  .form-container {
    @include size(auto, 100%);
    padding-top: 20px;
  }
  .btn-enviar {
    background-color: $color_2;
    color: $color_3;
    padding: 0 55px;
    line-height: 44px;
    border-radius: 50px;
    float: right;
    &:hover {
      background-color: $color_1;
      color: $color_3;
    }
  }
  /* Contacto */

  .contacto-container {
    @include size(100%, 300px);
  }
  .contacto {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    &__title {
      @include size(100%, 96px);
      padding: 20px 15px;
      h2 {
        font-size: 32px;
      }
    }
    &__text {
      @include size(100%, 55px);
      p {
        @include size(100%, 55px);
        margin: 0 0 10px 30px;
      }
    }
  }
  .contacto-container-main {
    height: auto;
  }
  .contacto-box-container {
    @include size(auto, 1160px);

    display: flex;
    flex-direction: column;
  }
  .contacto__box {
    @include size(auto, auto);
  }
  .contacto__map {
    @include size(100%, 100%);
  }
  footer {
    @include size(100%, auto);
    padding-top: -50px;
  }
  .footer__container {
    @include size(auto, auto);
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__logo {
    @include size(100%, 149px);

    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .footer__contacto {
    @include size(100%, auto);

    padding: 0 15px;
    margin-bottom: 25px;
  }
  .footer__tasar {
    @include size(100%, auto);

    margin-left: 0;
    padding: 0 15px;
  }
  .footer__tasar-info {
    p {
      width: auto;
      overflow: hidden;
    }
  }
  .copyright {
    height: 113px;
  
  &-container {
    @include size(100%, 113px);

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-develop {
    margin-top: 15px;
  }
}
}
