.propiedades {
  height: 934px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    width: 1170px;
    height: 93px;
    margin: 0 auto 10px;
    padding: 24px 15px;
    display: flex;
    justify-content: center;
  }
}