/*---------- Home -----------*/

/* Slider */

.section-slider {
  height: 930px;
  width: 100%;
  & img {
    width: 100%;
    height: 934px;
  }
}

/* Presentacion */

.presentacion-container {
  width: 100%;
  height: 550px;
  background-image: url('../img/home/image-home.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box__container {
  margin: 0 auto;
  width: 1170px;
  height: 504px;
  padding: 24px 15px;
}
.box__content {
  width: 457.5px;
  height: 432px;
  padding: 70px 40px 20px;
  background-color: #437f86;
}
.box__title {
  width: 341.58px;
  height: 76.22px;
  font-size: 22px;
  font-weight: 600;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  color: #ffffff;
}
.box__text {
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  margin-bottom: 30px;
  color: #ffffff;
}

span {
  width: 341.58px;
  height: 76.22px;
  font-size: 24px;
}

/*---------- Sobre nosotros ----------*/

.inferior-nosotros {
  height: 974px;
  width: 100%;
  padding: 24px 0px;

  display: flex;
  justify-content: center;
}
.descripcion {
  width: 1170px;
  height: 926px;
  margin: 0px 15px;

  display: flex;
  justify-content: center;

  &__box-container {
    width: 585px;
    height: 926px;
    padding: 0px 15px 24px;
  }
  &__box {
    width: 555px;
    height: 902.21px;
    padding: 70px 40px 20px;
    background-color: #437f86;
    box-shadow: 6px 6px 25px 0 rgb(0 0 0 / 39%);

    & h2 {
      font-size: 22px;
      font-family: work sans, sans-serif;
      color: #ffffff;
      margin: 0px 0px 14px;
      padding: 0px 0px 10px;
    }
    & span {
      font-size: 24px;
    }
    & div {
      font-family: work sans, sans-serif;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      color: #ffffff;
      margin-bottom: 30px;
      overflow: hidden;
    }
  }
  &__img {
    width: 585px;
    height: 680px;
    padding: 0px 15px;

    & img {
      width: 555px;
      height: 680px;
    }
  }
}

/*---------- Propiedades ----------*/
.inferior-propiedades {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

/*---------- Dejanos tu pedido ----------*/

.box-mail {
  width: 585;
  height: 485px;
  padding: 0px 15px 24px;
}
.box-info {
  width: 555px;
  height: 432px;
  padding: 70px 40px 20px;
  background-color: #437f86;

  & h2 {
    width: 252px;
    height: 76px;
    margin: 0px 0px 14px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.44;
    padding-bottom: 10px;
    color: #fff;
  }
  & p {
    width: 475px;
    height: 222px;
    margin: 0px 0px 30px;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    color: #fff;

    & a {
      text-decoration: none;
      color: #aaaddd;
    }
  }
}
.img-container {
  position: relative;
  width: 585px;
  height: 500px;
  padding: 24px 15px 0px;

  & img {
    position: absolute;
    width: 390px;
    height: 400px;
  }
}
.rectangulo {
  position: absolute;
  left: 250px;
  top: 100px;
  background-color: #437f86;
  width: 250px;
  height: 250px;
  opacity: 0.8;
}