
/* Home */

.title {
  font-size: 26px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  color: $fontColor;
}
.card {
  height: 390px;
  width: 280px;
  background-color: $secondaryColor;
  border: solid 1px #f2f2f2;
  padding: 10px;
  margin: 5px;

  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 1px 10px 10px 1px rgb(0 0 0 / 40%);
  }
  &__image {
    width: 260px;
    height: 100%;
    & img { 
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    height: 160px;
    display: flex;
    flex-direction: column;
    & span {
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 8px;
    }
  }
& h2 {
  font-size: 15px;
  font-weight: 500;
  color: #383838;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
}
&__text ul {
    height: 50px;
    font-size: 12px;
    color: #808080;
    line-height: 16px;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  & li {
    list-style-type: none;
    margin: 5px;
  }

  & p {
    width: 280px;
    font-size: 20px;
    font-weight: 500;
    color: $fontColor;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: left;
  }
  & button {
    color: #ffffff;
    background-color: $primaryColor;
    border: solid 1px $primaryColor;
    margin-top: 30px;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
  }
}

/* Propiedades */

.cards-prop {
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}